:root {
    --rosa: #ff00b9;
    --vermell: #ec0e43;
    --negre: #020202;
    --blanc: #fffffe;
    --taronja: #ff8a00;
    --taronjaFosc: #f57a00;
    --blauClar: #0091ff;
    --blauFosc: #1103ce;
}

html {
    margin: 5rem;
    border: 5rem;
    background-color: var(--negre);
    color: var(--blanc);
}

.instrument-serif-regular {
    font-family: "Instrument Serif Regular", serif;
    font-weight: 400;
    font-style: normal;
}

.instrument-serif-regular-italic {
    font-family: "Instrument Serif Italic", serif;
    font-weight: 400;
    font-style: italic;
}


.zalando-sans-regular {
    font-family: "Zalando Sans Regular", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.zalando-sans-italic {
    font-family: "Zalando Sans Italic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
}

header {
    font-family: "Zalando Sans Italic", sans-serif;
}

footer {
    font-size: 12px;
    font-family: "Instrument Serif Regular", serif;
    text-align: center;
}

.navegacio {
    color: var(--blauClar);
}

.text {
    font-family: "Instrument Serif Regular", serif;
}

.Titol2 {
    font-family: "Zalando Sans Italic", sans-serif;
    text-align: center;
}

.container {
    font-family: "Zalando Sans Italic", sans-serif;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    font-size: 45px;
    background-color: var(--taronjaFosc);
}