:root {
    --rosa: #ff00b9;
    --vermell: #ec0e43;
    --negre: #020202;
    --blanc: #fffffe;
    --taronja: #ff8a00;
    --taronjaFosc: #f57a00;
    --blauClar: #0091ff;
    --blauFosc: #1103ce;
}

html {
    margin: 5rem;
    border: 5rem;
    background-color: var(--negre);
    color: var(--blanc);
}

.zalando-sans-heavy {
    font-family: "Zalando Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.cactus-classical-serif-regular {
    font-family: "Cactus Classical Serif", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    font-family: "Zalando Sans", sans-serif;
}

footer {
    font-size: 12px;
    text-align: center;
}

.navegacio {
    color: var(--blauClar);
}

.center {
    text-align: center;
}

.Titol {
    font-family: "Zalando Sans", sans-serif;
}

.text {
    font-family: "Cactus Classical Serif", serif
}

.container {

    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    font-size: 45px;
    background-color: var(--taronjaFosc);
}